<shrotResume>
	
	<h4>W/ Machine</h4>
		<h5>
			C# &nbsp VB &nbsp VBA &nbsp HTML &nbsp 
			CSS &nbsp Java &nbsp JavaScript &nbsp 
			jQuery &nbsp SQL &nbsp Arduino<br>
			Unix System (Ububtu) &nbsp MS Office &nbsp 
			Adobe Photoshop
		</h5>
	<h4>W/ Human</h4>
		<h5>
			GPA 4.0 &nbsp swimming &nbsp cycling &nbsp archery &nbsp
			skiing &nbsp badminton &nbsp cooking &nbsp photograph &nbsp 
			piano &nbsp	violin
		</h5>
	
	<!--
	<h4>Language</h4>
		<h5>W/ Machine</h5>
			<h6>C# &nbsp VB &nbsp VBA &nbsp HTML &nbsp 
				CSS &nbsp Java &nbsp JavaScript &nbsp 
				jQuery &nbsp SQL</h6>
		<h5>W/ Human</h5>
			<h6>English, Chinese Mandarin</h6>
	<h4>Experience</h4>
		<h5>City of Toronto - Toronto Water &nbsp &nbsp <small>2015 Winter - IT Support</small></h5>
			<h6>Database, SQL, Software</h6>
		<h5>Xin-Yu Technology &nbsp &nbsp <small>2014 Summer - Technical Support & Customer Service</small></h5>
			<h6>PC, CCTV cameras</h6>
		<h5>Mudanjiang Petroleum &nbsp &nbsp <small>2013 Summer - Volunteer as Technical Support</small></h5>
			<h6>CCTV cameras, PC network</h6>
	<h4>Education</h4>
		<h5>University of Waterloo</h5>
			<h6>Candidate for Bachelor of Applied Science, Computer Engineering</h6>
			<h6>GPA 4.0, President’s Scholarship of Distinction</h6>
		<h5>St. David CSS.</h5>
			<h6>Honour Roll Academic Achievement, Ontario Scholar</h6>
	-->
</shortResume>
